body{font-family:Arial;text-align:center;background:#eef}
h1{color:#333}
input{padding:8px}
button{padding:8px;background:blue;color:white;border:none}
li{background:white;margin:5px;padding:8px;list-style:none}
